<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/index-style.css">
		<title>Wel Come to NewScout</title>
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark flex-md-nowrap shadow">
            <div class="inner-section">
                <img class="logo" src="/static/images/logo/logo.jpg" alt="logo" />
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div>
            <h1 class="text-center">Wel Come to NewScout</h1>
        </div>
	</body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>