body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root .navbar .inner-section{
	height: 48px;
	margin-right: 16px;
}

#root .navbar .inner-section img.logo {
	height: 100%;
}
#root .navbar {
	background-color: #fff !important;
}

.m-40 {
	margin: 40px 40px;
}

.navbar-nav, .navbar-nav li {
  width: 65rem;
}
.navbar {
  box-shadow: 0px 0px 10px 0px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
