{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/css/news-style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Trirong&display=swap" rel="stylesheet">
	<link rel="icon" href="/static/images/favicons/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="/static/images/favicons/android-chrome-512x512.png">
	<link rel="manifest" href="/static/images/favicons/site.webmanifest">

	{% block metatags %}{% endblock metatags %}
	<title>{% block title %}{% endblock title %}</title>
</head>

<body>
	{% block content %}{% endblock content %}
</body>
{% block js %}{% endblock js %}
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/custom.js' %}"></script>

</html>