{% extends 'base.html' %}
{% load static %}

{% block title %}NewScout - RSS{% endblock title %}

{% block metatags %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock metatags %}

{% block content %}
    <div id="rss"></div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
		var DOMAIN = '{{domain|safe}}'
    </script>
    <script src="{% static "js/react/newsRSS.js" %}"></script>
{% endblock js %}
